.container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  max-width: 90%; /* Aumentando a largura máxima para ocupar mais espaço na tela */
  margin: 20px auto;
}

.input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

.buttons {
  display: flex;
  gap: 8px;
}

.button {
  padding: 8px 12px;
  font-size: 14px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.infoButton {
  padding: 0.7rem 1.2rem; /* Aumentado para maior área clicável */
  font-size: 1.1rem; /* Tamanho da fonte ligeiramente maior */
  cursor: pointer;
  background-color: #d9ecff; /* Azul mais claro */
  color: #0056b3; /* Azul mais escuro */
  border: 2px solid #0056b3; /* Bordas mais espessas */
  border-radius: 12px; /* Bordas mais arredondadas */
}

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: white;
  padding: 1.5rem;
  border-radius: 8px;
  max-width: 400px;
  width: 90%;
  text-align: center;
}

.modalTitle {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
}

.closeButton {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}